*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

:root{
    --transition-duration: 0.5;
}

.header-container{
    background-color: #ffc8dd;
    padding: 14px;
    font-family: "Roboto";
    /* position: fixed;
    z-index: 2;
    width: 100%; */
}

.desktop-search-container{
    display: flex;
    border-radius: 10px;
}

.header-list-container{
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
}

.book-logo{
    font-size: 28px;
}

.header-heading{
    font-size: 23px;
    margin-left: 5px;
}
.header-items{
    font-size: 23px;
    margin-left: 18px;
}

.container{
    position: sticky;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
}

.header-container li:first-child{
    margin-right: auto;
}
.count{
    position: absolute;
    background-color: rgb(241, 241, 5);
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    top: 15px;
   left:96%;
}

.cart-count{
    position: absolute;
    background-color: rgb(241, 241, 5);
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    top: 15px;
   left:98.7%;
}

.search-icon{
    
    color: #ffffff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-element{
    width: 300px;
}
.header-items-container{
    position: relative;
    font-size: 23px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
}
.like-icon{
    color: black;
}
.mobile-search-container{
    display: none;
}

.search-icon-container{
    background-color: #000;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    outline: none;
}
.sidebar{
    display: none;
}
.menu-icon{
    display: none;
}
.desktop-menu-container{
    background-color: rgba(220, 220, 11, 0.24);
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    height: 20px;
    align-items: center;
}
.desktop-header-item{
    margin-right: 20%;
    width: 130px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #000;
}

.nav-link{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    outline: none;
}
.desktop-header-item:hover{
    padding-bottom: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.logout-button{
    background-color: rgba(241, 241, 8, 0.684);
    color: #0000009c;
    height: 27px;
    width: 120px;
    border: 0px;
    align-self: center;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    transition: 0.4s;
}
.logout-button:hover{
    padding-bottom: 5px;
}
@media screen and (max-width:768px){
    .container{
    }
    .desktop-search-container{
        display: none;
    }
    .logout-button:hover{
        padding-bottom: auto;
    }
    .header-container{
        padding: 14px;
    }
    .header-items{
        margin-left: 10px;
    }
    .header-items-container{
        margin-left: 10px;
    }
    .header-container li:first-child{
        margin-right: auto;
    }
    .header-list-container{
        display: flex;
        align-items: center;
    }
    .count{
        left: 76%;
        top: 10px;
    }
    .mobile-search-container{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        border-radius: 5px;
        border: 2px solid #000;
    }
    .search-element{
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #000;
        padding-left: 4px;
        border: 0px;
    }

    .cart-count{
        left:85%;
        top: 8px;
    }

    .menu-icon{
        font-size: 27px;
    }
    .header-menu-container{
        margin-left: 10px;
    }
    .sidebar{
        height: 100vh;
        position: fixed;
        top: 0;
        width: 200px;
        z-index: 999;
        right: 0;
        background-color: #ffffff3f;
        list-style-type: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(10px);
        
    }

    .sidebar{
        transition-duration: var(--transition-duration);
        transition-timing-function: ease-in-out;
    }
    .sidebar-items{
        margin: 10px;
        color: #000;
        text-decoration: none;
    }
    .sidebar-items:hover{
        background-color: rgb(186, 182, 182);
        width: 90%;
        height: 30px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 1px 4px;
        cursor: pointer;
        outline: none;
    }
    .close-icon{
        font-size: 20px;
    }
    .menu-icon{
        display: block;
    }
    
    .logout-button{
        background-color: rgba(241, 241, 8, 0.684);
        color: #0000009c;
        height: 30px;
        width: 120px;
        border: 0px;
        margin-top: 10px;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        font-weight: bold;
    }
    .desktop-menu-container{
        display: none;
    }
}

